body {
  padding: 0;
  margin: 0;
  font-family: "lato";
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
  background: #fff;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 1rem;
  padding-bottom: 3.9rem;}
  .header .headline {
    color: #ffe; }

.header-subnav {
  background-color: #025c96;
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }


.quotation{
font-family: 'Passion One', cursive;
font-size: 60px;
color: #025c96;
line-height: 40px;
display: inline;
}
.quotation2{
font-family: 'Passion One', cursive;
font-size: 40px;
color: #025c96;
display: inline;
line-height: 30px;
/* float: right; */
}
blockquote{
  border-left: none;
  padding-top: 60px;
  padding-bottom: 90px;
  color: #696969;
}
.quote{
display: inline;
line-height: 30px;
border-width: 0px;
margin: 0px;
padding: 0px;
letter-spacing: 0px;
font-weight: 300;
font-size: 22px;
min-height: 0px;
max-height: none;
}
.speaker{
  float: right;
margin-top: 30px;
}